@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  width: auto;
}

.dark {
  background: #21232b !important;
  color: #fff !important;
}

.dark .footer {
  background: #2e3036 !important;
}

.dark .right-container input,
.dark .right-container button,
.dark .right-container textarea {
  background: #2e3036 !important;
  color: white !important;
}

.dark .right-container {
  background: #60646f !important;
  color: white !important;
}

.dark .left-container {
  background: #2e3036 !important;
  color: white !important;
}

.dark .v-toolbar__content {
  background: #2e3036 !important;
}

.dark .v-list.v-theme--light.v-list--density-default.v-list--one-line.scrollbar {
  background: #2e3036 !important;
  color: white !important;
}

.dark .v-card.v-theme--light.v-card--density-default.v-card--variant-elevated.mx-auto.dark {
  background: #2e3036 !important;
  color: white !important;
}

.dark .v-card-text.text-content.condition {
  background: #2e3036 !important;
  color: white !important;
}

.dark #navigation-drawer {
  background: #2e3036 !important;
  color: white !important;
}

.dark a {
  color: white !important;
}

.dark a:hover {
  color: rgb(33, 33, 33) !important;
}

.dark .v-list.v-theme--light.v-list--density-default.v-list--one-line {
  background: #2e3036 !important;
  color: white !important;
}

.dark .v-application__wrap {
  background: rgb(33, 33, 33) !important;
  color: white !important;
}

.dark .darkToggle {
  background: #21232b !important;
  color: white !important;
}

.dark #favourite-icon {
  filter: invert();
}

.dark .v-btn.v-btn--flat.v-theme--light.v-btn--density-default.v-btn--rounded.v-btn--size-default.v-btn--variant-elevated {
  background-color: white !important;
  color: black !important;
}

.dark .v-btn.v-btn--flat.v-theme--light.v-btn--density-default.v-btn--rounded.v-btn--size-default.v-btn--variant-elevated:hover {
  background-color: #2c4e74 !important;
  color: rgb(255, 255, 255) !important;
}

.dark #submitBtn:hover {
  background-color: #2c4e74 !important;
  color: rgb(255, 255, 255) !important;
}

.dark #submitBtn {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
}

.nav-bar-shadow {
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5) !important;
}

.footer {
  box-shadow: 10px -5px 20px rgba(0, 0, 0, 0.5) !important;
}
